.map {
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
}
.custom {
  background-color: white;
  padding: 20px 35px 10px 20px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.custom:before {
  position: absolute;
  content: "ºC";
  left: 2px;
  top: 0px;
}

.heatLegend {
  position: relative;
  width: 15px;
  height: 200px;
  background: linear-gradient(red, yellow, green, blue);
  border: 1px solid;
}
.heatLegend:before {
  position: absolute;
  content: "38ºC";
  font-size: 12px;
  left: 18px;
  top: -6px;
}
.heatLegend:after {
  position: absolute;
  content: "10ºC";
  font-size: 12px;
  left: 18px;
  bottom: -8px;
}
.heatLabel {
  position: relative;
  width: 15px;
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 13.5px;
}
.heatLabel:before {
  position: absolute;
  content: attr(data-content);
  left: 18px;
  top: 8px;
  font-size: 12px;
}
